@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --gunmetal: #222831;
  --cultured: #f9f7f7;
  --lavender-web: #dbe2ef;
  --lavender-floral: #a98ae7ff;
  --cool-grey: #8b9ab3ff;
  --queen-blue: #556c87ff;
  --rich-black-fogra-29: #090b14ff;
  --charcoal: #424654ff;
  --raisin-black: #212534ff;
  --prussian-blue: #2d384cff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color: var(--cultured); */
  color: rgb(226, 232, 240);
  background-color: var(--rich-black-fogra-29);
}

/* Navbar */
nav {
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(9, 11, 20, 0.7);
  backdrop-filter: blur(4px);
}

nav > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* nav brand */
.nav-brand {
  padding: 5px 0;
  text-decoration: none;
  color: var(--prussian-blue);
  margin-right: 1rem;
  height: 40px;
}

.nav-brand img {
  height: 100%;
}

/* nav toggle */
.nav-toggler {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  color: var(--lavender-floral);
}

.nav-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-grow: 1;
  flex-basis: 100%;
  align-items: center;
}

.nav-list.hide {
  display: none;
}

.nav-list.show {
  display: flex;
}

.nav-list > li {
  width: 100%;
}

.nav-item {
  padding: 0.5rem 1rem;
  color: var(--onyx);
  text-decoration: none;
  font-weight: 500;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.nav-item:hover {
  /* color: var(--prussian-blue); */
  color: var(--lavender-floral);
  font-weight: 500;
}
/* end Navbar */

/* Banner */
.banner {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.banner img {
  min-width: 425px;
  max-height: 800px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* end Banner */

/* articles */
article {
  padding: 3.5rem 0;
}

article > h1 {
  text-align: center;
}

article#biography {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 85%,
    rgba(34, 40, 49, 1) 100%
  );
}

article#members {
  background: linear-gradient(
    180deg,
    rgba(34, 40, 49, 1) 85%,
    rgba(0, 0, 0, 1) 100%
  );
}

article#albums {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 80%,
    rgba(34, 40, 49, 1) 100%
  );
}

article#songs {
  background: linear-gradient(
    180deg,
    rgba(34, 40, 49, 1) 85%,
    rgba(0, 0, 0, 1) 100%
  );
}
/* end Articles */

/* Member Section */
.members-list {
  display: flex;
  flex-wrap: wrap;
}

.members-list > .col {
  padding: 0.75rem;
}

.member-item {
  display: flex;
  border: 1px solid var(--prussian-blue);
  border-radius: 0.75rem;
  overflow: hidden;
  cursor: pointer;
}

.member-item img {
  width: calc(calc(100% / 12) * 4);
  object-fit: cover;
  object-position: center;
}

.member-item > div {
  padding: 1rem;
  width: calc(calc(100% / 12) * 8);
}

.member-item > div > p {
  color: var(--cool-grey);
}
/* end Member */

/* Albums */
.albums-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.albums-list > .col {
  padding: 0.75rem;
}

.album-cover {
  max-width: 13rem;
  margin: 0 auto;
}

.album-cover > img {
  width: 100%;
  border-radius: 0.75rem;
}

.album-cover > div {
  padding: 1rem 0;
}
/* end Albums */

/* Songs */
article#songs .col {
  padding: 0.75rem;
}

.song-item {
  display: flex;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--prussian-blue);
  justify-content: center;
}

.song-item-heading {
  flex-basis: calc(calc(100% / 12) * 8);
}

.song-item img {
  width: calc(calc(100% / 12) * 4);
  border-radius: 0.25rem;
}
/* end Songs */

/* About me*/
aside {
  background-color: black;
  padding: 5rem 0;
}

aside > h1 {
  margin-bottom: 3rem;
  text-align: center;
}

aside > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

aside > .container > img {
  width: 180px;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

aside .bio > h6 {
  padding: 1rem;
  border-left: 2px solid var(--prussian-blue);
}
/* end About me */

/* Footer */
footer {
  padding: 1.5rem;
  text-align: center;
}

footer > a {
  text-decoration: none;
  color: var(--cultured);
}

footer > a:hover {
  color: var(--lavender-floral);
}
/* end Footer */

@media (min-width: 576px) {
  .albums-list > .col {
    flex-basis: calc(calc(100% / 12) * 6);
  }
  .albums-list {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .nav-toggler {
    display: none;
  }

  .nav-list {
    display: flex !important;
    flex-basis: auto;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-list > li {
    width: min-content;
  }

  .members-list > .col {
    flex-basis: calc(calc(100% / 12) * 6);
  }

  .member-item {
    height: 100%;
  }

  .albums-list > .col {
    flex-basis: calc(calc(100% / 12) * 4);
  }

  .song-item img {
    width: calc(calc(100% / 12) * 3);
  }

  aside > .container {
    justify-content: space-around;
  }

  aside > .container > .bio {
    flex-basis: calc(calc(100% / 12) * 8);
  }
}

@media (min-width: 992px) {
  .albums-list > .col {
    flex-basis: calc(calc(100% / 12) * 3);
  }

  .song-item img {
    width: calc(calc(100% / 12) * 2);
  }
}
